@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97vh;
    padding: 20px;
}

.form-container {
    position: relative;
    background-color: white;
    padding: 50px 40px;
    width: 100%;
    height: 95vh;
    max-width: 450px;
    border-radius: 8px;
    border: 1px solid #ccc;
    overflow: hidden;
}
.form-header {
  position: relative;
  z-index: 1;
}
.form-header p {
  color: #777;
}
.form-header h1 {
  font-size: 32px;
}
.form-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
}
.input-group {
  position: relative;
  display: flex;
}
.input-field {
  height: 48px;
  padding-inline: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100%;
  outline: none;
}
.floating-label {
  position: absolute;
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
  color: #777;
  background-color: #fff;
  padding-inline: 6px;
  transition: all 0.3s ease;
  pointer-events: none;
}
.input-field:focus ~ .floating-label,
.input-field:not(:placeholder-shown) ~ .floating-label {
  top: 0;
  left: 8px;
  transform: translateY(-50%);
  font-size: 12px;
  color: #007bff;
}
.input-field:focus {
  border-color: #007bff;
}
.input-field:not(:focus):not(:placeholder-shown) ~ .floating-label {
  color: #5f6368;
}
.eye-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  display: flex;
  transform: translateY(-50%);
}
.eye-icon svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
  color: #777;
}
.checkbox-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  font-size: 14px;
}
.remember-me {
  display: flex;
  align-items: center;
  gap: 5px;
}
.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 48px;
  background: none;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  padding-inline: 8px;
}
.form-btn--submit {
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}
.form-btn--submit:hover {
  background-color: #0056b3;
}
.form-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.form-socials {
    width: 100%;
    display: flex;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
}
.form-btn--social {
  border: 1px solid #ddd;
  transition: 0.3s ease;
}
.form-btn--social:hover {
  background-color: #f0f0f0;
}
.btn-icon {
  width: 30px;
}
.form-link {
  color: #1a73e8;
}
.form-link:hover {
  text-decoration: none;
}
.form-divider {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  color: #777;
  margin-top: 20px;
}
.form-divider::before,
.form-divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: #ddd;
}
.form-blob {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 0;
  right: 0;
  z-index: 0;
}
.blob-image {
  position: absolute;
  rotate: 205deg;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.5) translateX(100px);
}
.blob-image--1 {
  top: -170px;
  right: -150px;
  animation: welcomeIn 1.2s ease-out 0.3s forwards;
  --final-opacity: 1;
}
.blob-image--2 {
  top: -165px;
  right: -150px;
  animation: welcomeIn 1.2s ease-out 0.6s forwards;
  --final-opacity: 0.6;
}
.blob-image--3 {
  top: -160px;
  right: -150px;
  animation: welcomeIn 1.2s ease-out 0.9s forwards;
  --final-opacity: 0.3;
}
@media (max-width: 480px) {
  .form-container {
    padding: 60px 30px;
  }
}
/* BLOB ANIMATION */
@keyframes welcomeIn {
  0% {
    opacity: 0;
    transform: scale(0.5) translateX(100px) rotate(180deg);
  }
  60% {
    opacity: calc(var(--final-opacity) * 0.8);
    transform: scale(1.1) translateX(-10px) rotate(200deg);
  }
  100% {
    opacity: var(--final-opacity);
    transform: scale(1) translateX(0px) rotate(205deg);
  }
}