<div class="container">
    <div class="form-container">
        <div class="form-blob">
            <img [src]="blobPAth" alt="Blob" class="blob-image blob-image--1">
            <img [src]="blobPAth" alt="Blob" class="blob-image blob-image--2">
            <img [src]="blobPAth" alt="Blob" class="blob-image blob-image--3">
        </div>
        <div class="form-header">
            <p>Please enter your details</p>
            <h1>Welcome Back</h1>
        </div>
        <form class="form-box">
            <div class="input-group">
                <input type="email" id="email" class="input-field" placeholder="" required>
                <label for="email" class="floating-label">Email address</label>
            </div>
            <div class="input-group">
                <input type="password" id="password" class="input-field" placeholder="" required>
                <label for="password" class="floating-label">Password</label>
                <div class="eye-icon" onclick="togglePassword()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-eye-icon lucide-eye"><path d="M2.062 12.348a1 1 0 0 1 0-.696 10.75 10.75 0 0 1 19.876 0 1 1 0 0 1 0 .696 10.75 10.75 0 0 1-19.876 0"/><circle cx="12" cy="12" r="3"/></svg>                    
                </div>
            </div>
            <div class="input-group checkbox-group">
                <div class="form-col remember-me">
                    <input type="checkbox" id="remember-me-checkbox" class="checkbox-field">
                    <label for="remember-me-checkbox">Remember me</label>
                </div>
                <div class="form-col">
                    <a href="#" class="form-link">Forgot password?</a>
                </div>
            </div>
            <button type="submit" class="form-btn form-btn--submit">Sign In</button>
        </form>
        <div class="form-divider">
            <p>Or</p>
        </div>
        <div class="form-bottom">
            <div class="form-socials">
                <button type="button" class="form-btn form-btn--social">
                    <img [src]="googlePath" class="btn-icon" alt="">
                </button>
                <!-- <button type="button" class="form-btn form-btn--social">
                    <img [src]="googlePath" class="btn-icon" alt="">
                </button>
                <button type="button" class="form-btn form-btn--social">
                    <img [src]="googlePath" class="btn-icon" alt="">
                </button> -->
            </div>
            <p>Don't have an account? <a href="#" class="form-link">Sign up</a></p>
        </div>
    </div>
</div>